.rippleButton {
  background: var(--accent-color);
  color: var(--primary-text-color);
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 .25em;
  padding: .78571429em 1.5em .78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  background-position: center;
  transition: background 0s;
}
.rippleButton:hover {
  background: var(--accent-color-light) radial-gradient(circle, transparent 1%, var(--accent-color-light) 1%) center/15000%;
  transition: background 0.5s;
}
.rippleButton:active {
  background-color: var(--effect-color);
  background-size: 100%;
  transition: background 0s;
}

.positiveButton {

  float: right;
  margin: 0px;
}
.positiveButton:hover {
  background: var(--accent-color-light) radial-gradient(circle, transparent 1%, var(--accent-color-light) 1%) center/15000%;
}


.negativeButton {
  background: var(--accent-color-dark);
  color: var(--secondary-text-color);
  float: right;
  transition: background 0s;
}
.negativeButton:hover {
  background: var(--accent-color) radial-gradient(circle, transparent 1%, var(--accent-color) 1%) center/15000%;
  color: var(--primary-text-color);
  transition: all 0.5s;
}

.fillButton{
  width: -webkit-fill-available;
  width: -moz-available;
}

