html, body, #root, #app, #app>div {
  height: auto;
  min-height: 100%;
}
.appContainer{
  background-color: #161616;
  margin: 0px;
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
}

.popUpContainer{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.popUpBackground{
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.contentContainer{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 1;
}
