.horizontalMenuContainer{
  display: flex;
  flex-direction: column;
  grid-area: navMenu;
  width: 100%;
  max-width: 36%;
  height: 4em;
}

.horizontalMenuContainerLogged{
  display: flex;
  flex-direction: column;
  grid-area: navMenu;
  width: 100%;
  max-width: 25%;
  height: 4em;
}

.menuButtonList{
  color: var(--secondary-text-color);
  
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 4em;
  
  
}

.menuItemText{
  
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1.2em;
  display: block;
  font-weight: 600;
  margin: auto;
}
.menuListItem{
  cursor: pointer;
  float: right;
  margin: 0px;
  padding: 0px 10px;
  height: 4em;
  display: flex;
  text-align: center;
  align-self: center;
  transition: 0s;
}

.menuListItem:hover{
  color: var(--primary-text-color);
  transition: 0.5s;
  /*background: var(--accent-color);*/
  height: 4em;
}
.accountDropDownContainer{
  align-self: flex-end;
  height: fit-content;
  height: -moz-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  top: 4em;
}



.personIcon{
  padding: 0;
  margin: auto;
  fill: var(--secondary-text-color);
  width: 2em;
  height: 2em;
}

.personIconActive{
  padding: 0;
  margin: auto;
  fill: var(--primary-text-color);
  width: 2em;
  height: 2em;
}


.accountItem{
  cursor: pointer;
  float: right;
  margin: 0px;
  padding: 0px  0px 0px 15px;
  height: 4em;
  display: flex;
  text-align: center;
  align-self: center;
  transition: 0s; 
}
.accountItem:hover{
  color: var(--primary-text-color);
  transition: 0s;
  /*background: var(--accent-color);*/
  height: 4em;
}
.accountItem:hover .dropDownIcon{
  fill: var(--primary-text-color);
  transition: 0s;
}

.accountItem:hover .personIcon{
  fill: var(--primary-text-color);
  transition: 0s;
}

.accountItemText{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1.2em;
  display: block;
  font-weight: 500;
  margin: auto;
}

.accountItemContainerInner{
  cursor: pointer;
  float: right;
  margin: 0px;
  height: 4em;
  display: flex;
  text-align: center;
  align-self: center;
  transition: 0s; 
  color: var(--primary-text-color);
}

.accountItemActive{
  cursor: pointer;
  float: right;
  margin: 0px;
  padding: 0px  0px 0px 15px;
  height: 4em;
  display: flex;
  text-align: center;
  align-self: center;
  transition: 0s; 
  color: var(--primary-text-color);
}

.accountItemActive:hover{
  color: var(--primary-text-color);
  transition: 0s;
  /*background: var(--accent-color);*/
  height: 4em;
}

.dropDownIcon{
  padding: 0;
  margin: auto;
  float: right;
  fill: var(--secondary-text-color);
  transition: 0s;
  width: 2em;
  height: 2em;
}

.dropDownIconActive{
  padding: 0;
  margin: auto;
  float: right;
  fill: var(--primary-text-color);
  width: 2em;
  height: 2em;
  transition: 0s;
  transform: rotate(180deg);
}
