.inputContainer{
  background: var(--secondary-color);
  margin: 20px 0px;
  padding: 5px;
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  color: var(--primary-text-color);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1em;
  resize: none;
}

.inputFocusLine{
  position: relative;
  bottom: 2px;
  margin: auto;
  width: 0%;
  border-bottom: 2px solid white;
  transition: linear width 0s;
}
.inputFocusLineComment{
  bottom: 2px;
}

.input{
  vertical-align: top;
  background: var(--secondary-color);
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  margin: 0px;
  overflow: hidden;
  color: var(--primary-text-color);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1em;
  resize: none;
  padding: 0px;
  border-bottom: 2px solid var(--accent-color-light);
}

.input:focus{
  outline: none;
}

.input:focus + .inputFocusLine{
  border-bottom: 2px solid white;
  width:100%;
  transition-duration: 0.3s;
}