.languageDDContainer{
  background: var(--secondary-color);
  justify-content: center;
  width: 100%;
  height: fit-content;
  height: -moz-fit-content;
  margin: auto;

  text-align: left;

  -webkit-user-select: none;
  -moz-user-select: none;

}
.languageDDContainer:hover .languageDDCurrentItem{
  color: var(--primary-text-color)
}

.languageDDContainer:hover .dropDownIcon{
  fill: var(--primary-text-color)
}

.languageDDContainerActive{
  background: var(--secondary-color);
  justify-content: center;

  width: 100%;
  margin: 8px 0 0 0;
  height: fit-content;
  height: -moz-fit-content;
  text-align: left;
}





.languageDDCurrentItemContainer{
  display: flex;
  height: 3em;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 5px;
  
}

.languageDDItem{
  cursor: pointer;
  padding: 0px;
  height: 100%;
  text-align: left;
  align-self: auto;
  transition: 0s;
  color: var(--secondary-text-color);
}

.languageDDCurrentItem{
  cursor: pointer;
  display: table;
  padding: 0px;
  transition: 0s;
  width: 100%;
  color: var(--secondary-text-color);
}

.languageDDText{
  display:table-cell;
  vertical-align: middle;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  width: fit-content;
}

.languageDDTextActive{
  display:table-cell;
  vertical-align: middle;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  width: fit-content;
  color: var(--primary-text-color);
}

.languageDDIcon{
  padding: 0;
  margin: 0;
  float: right;
  fill: var(--secondary-text-color);
  
}
.dropDownIcon2{
  background: url("../resources/arrow_drop_down-24px.svg") no-repeat center right var(--secondary-text-color);
}

.divider{
  height: 2px;
  background: var(--secondary-text-color);
}

