.postFormButtonContainer{
  display: flex;
  margin: 1em 0;
}

.livePostContainer{
  background: var(--primary-color);
  border-radius: 5px;
  padding: 10px;
}

.primaryBackground{
  background: var(--primary-color);
}

.imageInputContainer{
  display: flex;
  margin: 1em 0;
}