.myPostsContainer{
  z-index: 4;
  background: var(--secondary-color);
  max-width: 600px;
  width: -webkit-fill-available;
  width: -moz-available;
  height: auto;
  max-height: 90%;
  border-radius: 5px;
  margin:auto;
  display: flex;
  flex-direction: column;
}

.myPostsContainerMobile{
  
}

.myPostsList{
  width: -webkit-fill-available;
  width: -moz-available;
  height: -webkit-fill-available;
  height: -moz-available;
  list-style-type: none;
  padding: 0;
  max-height: auto;
  overflow:hidden; overflow-y:scroll;
}

.myPostsListItem{
  height: 100px;
  max-height: 100px;
  list-style-type: none;
  cursor: pointer;
  background: var(--primary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  transition: 0s;
  border: 5px solid transparent;
}

.myPostsListItem:hover{
  transition: 0.2s;
  border: 0 solid var(--accent-color);
  border-left-width: 10px;
  border-bottom-width: 10px;
}
