:root{
  --primary-color: #161616;
  --secondary-color: #1b1c1d;

  --primary-text-color: #ffffff;
  --secondary-text-color: #808080;

  
  --accent-color: rgb(66, 66, 66);
  --accent-color-dark: #1b1c1d;
  --accent-color-light: #808080;
  --effect-color: #cecece;

}

.menuContainer{
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  z-index: 3;
  width: 100%;
  height: 4em;
  top: 0;
  background: var(--secondary-color);
  -webkit-box-shadow: 10px var(--accent-color-light);
  box-shadow: 0px 0px 10px var(--accent-color);
  -webkit-user-select: none;
  -moz-user-select: none;
}

.menuGrid{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "left center center center center right right right right right right";
  grid-gap: 30px;
  width: -webkit-fill-available;
  width: -moz-available;
  border-radius: 5px;
}

.menuLogo{
  cursor: pointer;
  display: flex;
  grid-area: left;
  margin: 0;
  width: fit-content;
  height: 4em;
  width: -moz-fit-content;
}
/*
.menuButtonList{
  color: var(--secondary-text-color);
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 4em;
  grid-area: right;
}

.menuItemText{
  
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1.2em;
  display: block;
  font-weight: 500;
}
*/
.logoText{
  
  color: var(--primary-text-color);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: auto;
  font-weight: 700;
  font-size: 1.2em;
  padding: 10px;
}
/*
.menuListItem{
  cursor: pointer;
  float: right;
  margin: 0px;
  padding: 0px 15px;
  height: 4em;
  display: block;
  text-align: center;
  align-self: center;
  transition: 0s;
}

.menuListItem:hover{
  color: var(--primary-text-color);
  transition: 0.5s;
  background: var(--accent-color);
  height: 100%;
}

.accountDropDownContainer{
  float: right;
  height: fit-content;
  height: -moz-fit-content;
  width: 100%;
  top: 4em;
}

.maxWidthContainer{
  top: 0;
  max-width: 1200px;
  padding: 0px;
  margin: 0 auto;
  width: -webkit-fill-available;
  width: -moz-available;
  border-radius: 5px;
}

.accountItemContainer{
  display: flex;
  width: fit-content;
  width: -moz-fit-content;
}
*/