.reportPostContainer{
  z-index: 5;
  background: var(--secondary-color);
  width: -webkit-fill-available;
  width: -moz-available;
  height: auto;
  height: -moz-available;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 700px;
  border-radius: 5px;
  margin:auto;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}