.signUpContainer{
  z-index: 4;
  background: var(--primary-color);
  width: -webkit-fill-available;
  width: -moz-available;
  height: 100%;
  max-width: 1000px;
  max-height: 800px;
  border-radius: 5px;
  margin:auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.signUpContainerMobile{
  z-index: 4;
  background: var(--secondary-color);
  width: -webkit-fill-available;
  height: 100%;

  border-radius: 5px;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signUpTitleContainer{
  margin: 1em;
}
.signUpContainerInner{
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.signUpForm{
  background: var(--secondary-color);
  width: 47%;
  border-radius: 5px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.signUpFormMobile{
  background: var(--secondary-color);
  border-radius: 5px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.termsPageContainer{
  z-index: 4;
  background: var(--secondary-color);
  width: -webkit-fill-available;
  height: 100%;

  border-radius: 5px;
  margin:auto;
  display: flex;
  flex-direction: column;

}

.signUpTerms{
  background: var(--secondary-color);
  width: 47%;
  border-radius: 5px;
  padding: 1%;
  overflow-y: scroll;
}

.signUpTermsMobile{
  background: var(--secondary-color);
  height: 100%;
  border-radius: 5px;
  padding: 1%;
  overflow-y: scroll;
  display: flex;

}

.termsContainer{
  margin: auto;
}
.termsContainerMobile{
  margin: 0;
}




